input:not(.check__input) {
  font-size: inherit;
  position: relative;
  height: 2em;
  margin-bottom: 1em;
  padding: .5em;
  transition: background-color .5s cubic-bezier(0, 0, 0.2, 1), color .5s cubic-bezier(0, 0, 0.2, 1);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
}

input:hover, input:active, input:focus {
  border-color: var(--primary-color);
}

input:disabled {
  cursor: not-allowed;
}

label {
  position: relative;
  cursor: text;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
  -webkit-box-shadow: 0 0 0 1000px var(--input-background-color) inset;
  -webkit-text-fill-color: var(--text-color);
}



