textarea {
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 1em;
  padding: .5em;
  resize: none;
  transition: background-color .5s cubic-bezier(0, 0, 0.2, 1), color .5s cubic-bezier(0, 0, 0.2, 1);
  color: var(--text-color);
  border: 2px solid var(--border-color);
  border-radius: var(--border-radius);
  background-color: var(--input-background-color);
}

textarea:is(:hover, :focus, :active) {
  border-color: var(--primary-color);
}

textarea:disabled {
  cursor: not-allowed;
}




